// Coolors

$primary1: hsl(0, 100%, 74%); //red
$primary2: hsl(154, 59%, 51%); //green
$primary3: hsl(248, 32%, 49%); //blue

$neutral1: hsl(249, 10%, 26%); //dark blue
$neutral2: hsl(246, 25%, 77%); //grayish blue
